/* layout */

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

#cv {
	margin: 1em;
	margin-bottom: 8em;
	max-width: 48em;
}

#portfolio
{
	display: flex;
	flex-direction: column;
	align-items: center;

}

#profile
{
	background-size: cover;
	background-position: center;
	margin: 1em;
	margin-top: 8em;
	width: 8em;
	height: 8em;
	border-radius: 50%;
}

nav {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/*background-color: white;*/
	border-radius: 0 0 0.5em 0.5em;
	margin-top: 2em;
	padding-top: 1em;
	max-width: 48em;
}
nav a {
	text-decoration: none;
	line-height: 2em;
	margin: 0.4em;
}
nav a strong {
	font-weight: 600;
}

section div
{
	margin: 1em;
}

address, p {
	line-height: 1.4em;
}

h2, h3, h4 {
	margin: 0em;
	line-height: 1.4em;
}

p, table {
	margin: 1em 0em;
}

table {

	border-spacing: 1em 0em;
}

.images {
	display: flex;
	flex-wrap: wrap;
}
.images .image {
	height: 24em;
	min-width: 24em;
	flex: 1 0 auto;
	background-position: center;
	background-size: cover;
	margin: 1px;
	border-radius: 2px;
}

/* theme */

html {
	font-family: 'Inter', sans-serif;
	font-size: 12pt;
}

h1 {
	font-size: 2em;
	font-weight: 300;
}

h2 {
	font-size: 1.4em;
	font-weight: 700;
}
h3, h4 {
	font-size: 1em;
	font-weight: 500;
}

h1 strong
{
	font-weight: 700;
}

::selection {
  color: black;
  background: #FFD300;
}

a {
	color: #0087BD;
}

a:visited{
	color: #7C5582;
}

table td:first-of-type{
	color: #FFD300;
}

nav
{
	background-color: rgba(255, 255, 255, 0.9);
	/* blur won't work in firefox < 103 */
	-webkit-backdrop-filter: blur(1em);
	backdrop-filter: blur(1em);
}

#profile {
	background-color: rgb(222,222,222);
}

.images {
	background-color: rgb(10,10,10);
}
