/* typography */

@font-face {
	font-family: 'Basement Grotesque';
	font-weight: 800;
	font-style: normal;
	font-display: swap; 
	src: local('Basement Grotesque'), url('../typography/BasementGrotesque-Black_v1.202.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 100;
	font-display: swap;
	src: local('Inter'), url(../typography/Inter-Thin.woff2) format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 400;
	font-display: swap;
	src: local('Inter'), url(../typography/Inter-Regular.woff2) format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 600;
	font-display: swap;
	src: local('Inter'), url(../typography/Inter-Bold.woff2) format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 400;
	font-display: swap;
	src: local('Inter'), url(../typography/Inter-Italic.woff2) format('woff2');
}

:root {
	--green: rgb(160,224,0);
	--amber: rgb(225,160,0);
	--red: rgb(196,0,48);
	--white: rgb(250,250,250);
	--white-transparent: rgb(250,250,250,0.8);
	--black: rgb(8,8,8);
	--black-transparent: rgb(8,8,8,0.8);
}

@media (prefers-color-scheme: light) {
	:root {	--green: rgb(138,193,0); }
}

strong { font-weight: 600; }

/* reset */
nav a { text-decoration: none; }

h1, h2, h3 { 
	font-family: 'Basement Grotesque';
	font-weight: 800;
	text-transform: uppercase;
	overflow-wrap: anywhere;
	word-break: break-word;
}

h1.detail, h2.detail {
	font-family: 'Inter';
	font-weight: 100;
}

li { font-weight: 600; }

p.detail { font-style: italic; }

body { font-family: 'Inter'; }

nav a { 
	font-weight: 600;
	text-align: center;
}

/* Colour */

.green { color: var(--green); }
.amber { color: var(--amber); }
.red   { color: var(--red);  }

/* Dark theme */
/* Always dark on old browsers */

body {
	background-color: var(--black);
	color: var(--white);
}

h1, h2, h3 {
	color: var(--white);
	text-shadow: -0.1em 0.1em 0  var(--black);
}
 
nav a:active {
	color: var(--black-transparent);
	background-color: var(--white);
}

a {
	border-color: var(--white);
	background-color: var(--black-transparent);
	color: var(--white);
}

footer h2 { 
	color: rgb(8,8,8);
	-webkit-text-stroke: 1px var(--white);
}

@media (prefers-color-scheme: light) {

/* Bright theme */
	
	body {
		color: rgb(8,8,8);
		background-color: var(--white);
	}

	h1, h2, h3 {
		color: var(--black);
		text-shadow: none;
	}

	nav a:active {
		color: var(--white);
		background-color: var(--black);
	}

	a {
		border-color: var(--black);
		background-color: var(--white-transparent);
		color: var(--black);
	}
}

/* borders */

.round img { border-radius: 50%; }

nav a { border-radius: 2em; }

nav a {
	border-style: solid;
	border-width: 2pt;
	border-radius: 22em;
}

p {	border-radius: 1em; }

/* style */

.examples li { list-style: none; }
li { list-style-type: square; }

p.detail { opacity: 0.8; }

#profile {
	opacity: 0;
	user-select: none;
	-webkit-user-select:none;
}

/* animation */

.show {
	animation-name: fadeIn;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.hide {
	display: none;
}

.blink
{
	animation-name: fadeOut;
	animation-duration: 0.1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 3;
	animation-fill-mode: backwards;
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0.2; }
}


@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}